@model MojTermin.Domain.DomainModels.Referral

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Referral</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Term)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Term)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class="col-sm-10">
            @{
                var patientName = Model.Patient.Name + " " + Model.Patient.Surname;
                @Html.DisplayFor(model => patientName)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ForwardTo)
        </dt>
        <dd class="col-sm-10">
            @{
                var doctorName = Model.ForwardTo.Name + " " + Model.ForwardTo.Surname;
                @Html.DisplayFor(model => doctorName)
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
